.arrays-page {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #f3e5f5;
    height: 100vh;
  }
  
  .structure-selection {
    margin-bottom: 30px;
  }
  
  .structure-buttons button {
    background-color: #7322cf;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .structure-buttons button:hover {
    background-color: #0056b3;
  }
  
  .visualization {
    margin-top: 20px;
  }
  
  .back-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .back-button:hover {
    background-color: #cc0000;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  